name: Test

on:

push:

branches:

- main

jobs:

test:

    runs-on: ubuntu-latest

    name: Test

    steps:

    - uses: actions/checkout@v3

    - uses: bahmutov/npm-install@v1

    # Run ESLint
    - run: npm run lint

    # Run Jest
    - run: npm run test
